$blue: #2962EF;
$text: #232427;
$grey: #5E5C6C;
$blueDark: #1a4ed3;
$subTitle: #9998A4;
$trusted: #FAF9FA;
$copy: #D6D5DF;

//burger

$burgerColor: rgb(20, 20, 20);

//breakpoints

$breakpoint1200: 1199.98 + px;
$breakpoint1080: 1079.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint690: 689.98 + px;
$breakpoint600: 599.98 + px;
$breakpoint480: 479.98 + px;